<ion-view title="DaWenXi" hide-back-button="true">
	<ion-nav-buttons side="left">
		<button class="button" menu-toggle='left' ng-click="doSomething()"> <i class="icon ion-navicon-round"></i>
		</button>
	</ion-nav-buttons>
	<!-- <div class="bar bar-subheader">
		<div class="title">fsfsd</div>
	</div> -->
	<ion-content>
		<!-- 下拉刷新 -->
		<ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
		<div class="card">
			<div class="item item-divider item-dark">fdsfs</div>
			<div class="item item-text-wrap item-avatar">
				<img src="">
				<p>fdsfsd</p>
			</div>
			<!-- <div class="item item-divider item-dark">fdsfs</div> -->
		</div>

		<div class="card">
			<div class="item item-divider item-dark">fdsfs</div>
			<div class="item item-text-wrap item-avatar">
				<img src="">
				<p>fdsfsd</p>
			</div>
			<!-- <div class="item item-divider item-dark">fdsfs</div> -->
		</div>

	</ion-content>
</ion-view>